<head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>{{page.title}} | Juniper Studio Web Development</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="apple-touch-icon image_src" href="/apple-icon.png">
    <meta name="description" content="Descripton">
    <meta name="author" content="description">
    <link rel="canonical" href="http://www.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}  + Title" />
    <meta property="og:url" content="http://www.com/" />
    <meta property="og:site_name" content="content" />
    <meta name="revisit-after" content="1 days">

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic)'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i)' rel='stylesheet' type='text/css'>
    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- fav -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>