<div class="navBar">
    <div class="site-width wraper">
        <input type="checkbox" id="menu-toggle"/>
        <label for="menu-toggle" class="label-toggle"></label>
        <ul>
            <li><a href="/">Compost Hero</a></li>
            <li><a href="/benefits-leaf-compost-mulch-garden.html">Benefits</a></li>
            <li><a href="/grow-vegetables-leaf-compost-mulch.html">Compost Gardening</a></li>
            <li><a href="/compost_hero_blog.html">blog</a></li>
            <li><a href="/buy.html">Buy</a></li>
        </ul>
    </div>
</div>