<div class="navBar">
    <div class="site-width wraper">
        <input type="checkbox" id="menu-toggle"/>
        <label for="menu-toggle" class="label-toggle"></label>
        <ul class="top-menu-list">
            <li class="side--menu-item"><a href="/" class="side--menu-link">Compost Hero</a></li>
            <li class="side--menu-item"><a href="/benefits-leaf-compost-mulch-garden.html"
                                           class="side--menu-link">Benefits</a></li>
            <li class="side--menu-item"><a href="/grow-vegetables-leaf-compost-mulch.html" class="side--menu-link">Compost
                Gardening</a></li>
            <li class="side--menu-item"><a href="/compost_hero_blog.html" class="side--menu-link">blog</a></li>
            <li class="side--menu-item"><a href="/buy.html" class="pside--menu-link">Buy</a></li>
        </ul>
    </div>
</div>