<!--  <nav class="navigation">
    <ul class="mainmenu">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Products</a>
            <ul class="submenu">
                <li><a href="">Tops</a></li>
                <li><a href="">Bottoms</a></li>
                <li><a href="">Footwear</a></li>
            </ul>
        </li>
        <li><a href="">Contact us</a></li>
    </ul>
</nav> -->
<div class="side-menu margin-top">
    <ul class="side-menu-list">
        <li class="side--menu-item"><a href="#" class="side--menu-link">Flickr</a></li>
        <li class="side--menu-item"><a href="#" class="side--menu-link">Messenger</a></li>
        <li class="side--menu-item"><a href="#" class="side--menu-link">Sports</a></li>
        <li class="side--menu-item"><a href="#" class="pside--menu-link">Finance</a></li>
        <li class="side--menu-heading">More Sites</li>
        <li class="side--menu-item"><a href="#" class="side--menu-link">Games</a></li>
        <li class="side--menu-item"><a href="#" class="side--menu-link">News</a></li>
        <li class="side--menu-item"><a href="#" class="side--menu-link">OMG!</a></li>
    </ul>
</div>