/*
* Base structure
*/

html, body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
}

.outerspace {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.site-width {
  max-width: 2620px;
  margin-left: auto;
  margin-right: auto;
}

section, nav {
  position: relative;
}

.section { // add section before or after background color declaration.
  padding-left: 1rem;
  padding-right: 1rem;
}

/*
* Grid Structure
*/

.main-section {
  .layout-container {
    //background: susy-svg-grid() no-repeat scroll;
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-column-gap: 2rem;
    //grid-auto-rows: 50px 350px 50px;
    //grid-template-columns: 200px 1fr 200px;
    //grid-template-rows: auto 1fr auto;
    main {
      grid-column: span 6;
    }
    aside {
      grid-column: span 3;
      //background: susy-svg-grid() no-repeat scroll;
    }
    @include breakpoint($phone) {
      display: flex;
      flex-direction: column;
    }
    @include breakpoint($tween) {
      .aside-first {
        grid-column: span 12;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
        border-bottom: solid 2px $pink;
        p {
          line-height: 2rem;
        }
      }
      main {
        grid-column: span 6;
      }
      .aside-second {
        grid-column: span 6;
      }
    }
    @include breakpoint($desktop) {
    }
    @include breakpoint($big) {
    }
  }
}

.main-full {
  .layout-container {
    display: flex;
    flex-direction: column;
  }
}

/*
* Grid Layouts
*/

.one-three-one {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 2rem;
  .first-item {
    grid-column: 1;
  }
  .second-item {
    grid-column: 2;
  }
  .third-item {
    grid-column: 1;
  }
  @include breakpoint($phone) {
    display: flex;
    flex-direction: column;
  }
  @include breakpoint($tween) {
    display: flex;
    flex-direction: column;
  }
}

.two-things {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 2rem;
  align-items: flex-start;
  .first-thing {
    grid-column: 1;
  }
  .second-thing {
    grid-column: 2;
  }
  @include breakpoint($phone) {
    display: flex;
    flex-direction: column;
  }
}

.align-center {
  height: 100vh;
  align-items: center;
}




.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-gap: 4em 4em;
  padding: 3em;
  .grid-item {
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }
  @include breakpoint($phone) {
    padding: 0;
  }
  @include breakpoint($desktop) {
    grid-template-columns: repeat(auto-fill, minmax(25%, 2fr));
  }
  @include breakpoint($big) {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}

.grid-of-2 {
  display: grid;
  grid-template-columns: repeat(12, 4fr);
  grid-column-gap: 2rem;
  .grid-item {
    grid-column: span 6;
  }
  @include breakpoint($phone) {
    display: flex;
    flex-direction: column;
  }
  @include breakpoint($tween) {
    display: flex;
    flex-direction: column;
  }
}


.grid-of-3 {
  display: grid;
  grid-template-columns: repeat(12, 4fr);
  grid-column-gap: 2rem;
  .grid-item {
    grid-column: span 4;
  }
  @include breakpoint($phone) {
    display: flex;
    flex-direction: column;
  }
  @include breakpoint($tween) {
    display: flex;
    flex-direction: column;
  }
}


/*
* Nav
*/

.main-nav {
  min-height: 50px; //ugh
  .navBar {
    @include breakpoint(($phone, $tween)) {
      position: absolute;
      top: 0;
    }
    min-width: 100%;
    z-index: 100;
    ul {
      display: flex;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }

    li {
      display: inline-block;
      list-style: none;
      margin: 0px;
      padding: 0px;

    }

    #menu-toggle {
      display: none;
    }

    .label-toggle {
      display: none;
    }

    .wrapper {
      display: flex;
    }

    @include breakpoint(($phone, $tween)) {
      nav {
        ul {
          a {
            color: $theme-dark;
          }
        }
      }
      ul {
        background-color: $theme-dark;
        display: block;
        height: 0;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        width: 100%;
        visibility: hidden;
        transition: all 1s ease;
      }

      li {
        border-bottom: 2px solid $theme-tint;
        color: $theme-dark;
        display: block;
        padding: 2em 0;
      }

      #menu-toggle:checked ~ ul {
        opacity: 1;
        height: 100%;
        visibility: visible;
      }

      .label-toggle {
        background: linear-gradient(to bottom, $theme-tint 20%, transparent 20%, transparent 40%, $theme-tint 40%, $theme-tint 60%, transparent 60%, transparent 80%, $theme-tint 80%, $theme-tint 100%); //Gradient Hamburger
        cursor: pointer;
        display: block;
        float: right;
        min-height: 35px;
        width: 35px;
        margin: .5em;
      }

      .wrapper {
        //display: block;
      }
    }
  }
}

