<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="body">
<div class="outerspace">
    {% include headder.html %}
    <nav class="main-nav">
    {% include nav.html %}
    </nav>
    <section class="main-full">
        <div class="site-width layout-container">
            <main class="section">
                {{content}}
            </main>
        </div>
    </section>
    <footer class="section">
        <div class="site-width"><h1>footer</h1></div>
    </footer>
    {% include script.html %}
</div>
</body>
</html>