<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="body">
<div class="outerspace">
    {% include headder.html %}
    {% include nav.html %}
    <section class="section main-section">
        <div class="site-width layout-container">
            <aside><h3 class="margin-top-none">Left Aside Menu.</h3>{% include nav_side.html %}</aside>

            <main>
                {{content}}
            </main>
            <aside><h2 class="margin-top-none">Right Aside 2</h2><p>Right aside is whre we put other stuff in order to see about what is going in here through the center sapces.</p>
                <h3>Stuff here about things that are important. 3</h3>
                <p>Quisque placerat, enim ut lobortis consequat, justo est auctor ipsum, eu ullamcorper massa erat vitae eros. Donec posuere nisi non erat ultricies, at condimentum lectus hendrerit. Praesent tortor nisi, volutpat in ipsum ut, auctor rhoncus erat. Donec consequat lectus vel sapien iaculis pulvinar. Sed ullamcorper lacinia tempor. Mauris a egestas neque. Sed tristique mattis ante eu rhoncus. Duis egestas lorem fringilla volutpat ultricies. Praesent pulvinar nunc et arcu viverra lacinia. Praesent et congue libero, a venenatis urna. Nam porttitor luctus orci, nec laoreet quam pharetra vitae. Donec non bibendum nisi. Sed scelerisque rutrum libero, id fermentum lacus scelerisque a. Quisque consectetur nec urna eget scelerisque.    </p>
                <h4> More important Stuff here. 4</h4>
                <p>Quisque placerat, enim ut lobortis consequat, justo est auctor ipsum, eu ullamcorper massa erat vitae eros. Donec posuere nisi non erat ultricies, at condimentum lectus hendrerit. Praesent tortor nisi, volutpat in ipsum ut, auctor rhoncus erat. Donec consequat lectus vel sapien iaculis pulvinar. Sed ullamcorper lacinia tempor. Mauris a egestas neque. Sed tristique mattis ante eu rhoncus. Duis egestas lorem fringilla volutpat ultricies.</p>
                <p></p><p><strong>Ignore this here bold content</strong></br>Quisque placerat, enim ut lobortis consequat, justo est auctor ipsum, eu ullamcorper massa erat vitae eros. Donec posuere nisi non erat ultricies, at condimentum lectus hendrerit. Praesent tortor nisi, volutpat in ipsum ut, auctor rhoncus erat. Donec consequat lectus vel sapien iaculis pulvinar. Sed ullamcorper lacinia tempor. Mauris a egestas neque. Sed tristique mattis ante eu rhoncus. Duis egestas lorem fringilla volutpat ultricies.</p>


            </aside>
        </div>
    </section>
    <section class="section background">
        <div class="site-width">{% include gallery.html %}</div>
    </section>
    <footer class="section">
        <div class="site-width">{% include footer.html %}</div>
    </footer>
    {% include script.html %}
</div>
</body>
</html>